@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.animate-about {
  --clip-value: 100%;
}

.animate-about::before {
  content: attr(data-text);
  clip-path: inset(0 0 var(--clip-value) 0);
  will-change: clip-path;
}

.skills-container {
  clip-path: polygon(
    50svh 0px,
    0px 50%,
    50svh 100%,
    100% calc(100% + 100svh),
    100% -100svh
    );
  --before-opacity: 0;
  --after-opacity: 0;
}

.skills-container::before,
.skills-container::after {
  content: "";
  position: absolute;
  width: 100svh;
  height: 2.5px;
  background: #fff;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 10;
}

.skills-container::before {
  top: 0;
  left: 0;
  transform: rotate(-45deg) translate(-7rem);
  opacity: var(--before-opacity);
}

.skills-container::after {
  bottom: 0;
  left: 0;
  transform: rotate(45deg) translate(-7rem);
  opacity: var(--after-opacity);
}

@media (max-width: 1000px) {
  .skills-container {
    clip-path: none;
  }

  .skills-container::before,
  .skills-container::after {
    display: none;
  }
}
