@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.animate-about {
  --clip-value: 100%;
}

.animate-about::before {
  content: attr(data-text);
  clip-path: inset(0 0 var(--clip-value) 0);
  will-change: clip-path;
}

.project-card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: var(--after-opacity, 0);
  transition: opacity 0.1s ease;
  pointer-events: none;
  z-index: 2;
}

.skill-names {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.skill-name span .letter {
  position: relative;
  transform: translateY(0%);
  will-change: transform;
}
